{{ extends "layout.html" }}
{{define "content"}}
<form action="/login" method="post" class="mx-auto" id="login-form">
    <h5 class="title">Log In</h5>

    <div class="alert alert-primary">
        <div class="form-group">
            <label for="username" class="w-100 label">
                Username <input name="username" class="form-control" type="text"/>
            </label>
        </div>
        <div class="form-group mt-2">
            <label for="password" class="w-100 label">
                Password <input name="password" class="form-control" type="password"/>
            </label>
        </div>
        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success w-100">Log In</button>
        </div>

        <div class="form-group">
            <a href="/register" class="btn btn-link">Register</a>
        </div>
    </div>
    
    {{if .data.Error }}
    <div class="alert alert-danger" role="alert">
        {{ .data.Error }}
    </div>
    {{end}}
</form>
{{end}}