{{ extends "layout.html" }}
{{define "content"}}
<form action="/register" method="post" class="mx-auto" id="login-form">
    <h5 class="title">Register</h5>

    <div class="alert alert-primary">
        <div class="form-group">
            <label for="username" class="w-100 label">
                Username <input name="username" class="form-control" type="text" autocomplete="off"/>
            </label>
        </div>
        <div class="form-group mt-2">
            <label for="password" class="w-100 label">
                Password <input name="password" class="form-control" type="password"/>
            </label>
        </div>
        <div class="form-group mt-2">
            <label for="password-confirm" class="w-100 label">
                Confirm Password <input name="confirmation" class="form-control" type="password"/>
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success w-100 mt-2">Register</button>
        </div>
        <div class="form-group">
            <a href="/login" class="btn btn-link">Sing In</a>
        </div>
    </div>
    
    {{if .data.Error }}
    <div class="alert alert-danger" role="alert">
        {{ .data.Error }}
    </div>
    {{end}}
</form>
{{end}}